

/* Estilos para o corpo */
body {
    background-color: #ffffff; /* Cor de fundo do corpo */
    margin: 0; /* Remova as margens padrão do corpo */
    padding: 0; /* Remova o preenchimento padrão do corpo */
    position: relative;
    z-index: 2; /* Garante que o corpo fique acima da imagem */
  }

  /* Estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Estilo para a alça da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor da alça */
  border-radius: 5px; /* Raio da borda da alça */
}

/* Estilo para a alça da barra de rolagem quando hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor da alça ao passar o mouse */
}

/* Estilo para a faixa de rolagem */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor da faixa de rolagem */
}

/* Estilo para a faixa de rolagem quando hover */
::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* Cor da faixa de rolagem ao passar o mouse */
}


  /* Estilos para a caixa */
  .caixa {
    background-color: #070707;
    color: #fff;
    padding: 0px;
    height: 19vh;
    position: relative;
    top: 0; /* Alinhar a caixa ao topo */
    left: 0; /* Alinhar a caixa à esquerda */
    right: 0; /* Alinhar a caixa à direita */
    margin: auto; /* Centraliza horizontalmente */
    z-index: 1; /* Define um z-index menor para a caixa */
    
  }

   /* Estilos para a caixa do banner */
   .banner {
    width: 100%; /* Largura total */
    height: auto; /* Altura automática */
    z-index: 0; /* Define um z-index menor para a caixa */
    margin-top: 0px; /* Define a margem superior para criar um espaço entre o cabeçalho e o banner */
  }

  .logocentral {
    text-align: center;
  }

  .logocentral img {
    width: 20vw; /* Define a largura da imagem como 30% do tamanho da caixa */
  }

  .sejavip {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom: 0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 0.521vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Cursor do mouse */
    transition: background-color 0.5s ease; /* Transição suave */
    text-decoration: none; /* Remove o sublinhado padrão do link */
  }

  .sejavip::after {
    content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
    display: block; /* Torna o pseudo-elemento em bloco */
    width: 0; /* Inicialmente, a largura da barra é 0 */
    height: 2px; /* Altura da barra */
    background-color: #fff; /* Cor da barra */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    bottom: -4px; /* Posicionamento abaixo do texto */
    left: 0; /* Alinha à esquerda */
    transition: width 0.3s ease; /* Transição suave */
  }

  .sejavip:hover::after {
    width: 100%; /* Largura da barra ao passar o mouse */
  }


  .salas {
    font-family:  Calibri,  sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom: 0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 26.95vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    transition: transform 0.2s ease; /* Adiciona uma transição suave ao movimento */
  }

  .salas::after {
    content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
    display: block; /* Torna o pseudo-elemento em bloco */
    width: 0; /* Inicialmente, a largura da barra é 0 */
    height: 2px; /* Altura da barra */
    background-color: #fff; /* Cor da barra */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    bottom: -4px; /* Posicionamento abaixo do texto */
    left: 0; /* Alinha à esquerda */
    transition: width 0.3s ease; /* Transição suave */
  }

  .salas:hover::after {
    width: 100%; /* Largura da barra ao passar o mouse */
  }


  .temporadas {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom:  0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 38.5vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    transition: transform 0.2s ease; /* Adiciona uma transição suave ao movimento */
  }

  .temporadas::after {
    content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
    display: block; /* Torna o pseudo-elemento em bloco */
    width: 0; /* Inicialmente, a largura da barra é 0 */
    height: 2px; /* Altura da barra */
    background-color: #fff; /* Cor da barra */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    bottom: -4px; /* Posicionamento abaixo do texto */
    left: 0; /* Alinha à esquerda */
    transition: width 0.3s ease; /* Transição suave */
  }

  .temporadas:hover::after {
    width: 100%; /* Largura da barra ao passar o mouse */
  }

  .anuncios {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom:  0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 54.7vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    transition: transform 0.2s ease; /* Adiciona uma transição suave ao movimento */
  }

  .anuncios::after {
    content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
    display: block; /* Torna o pseudo-elemento em bloco */
    width: 0; /* Inicialmente, a largura da barra é 0 */
    height: 2px; /* Altura da barra */
    background-color: #fff; /* Cor da barra */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    bottom: -4px; /* Posicionamento abaixo do texto */
    left: 0; /* Alinha à esquerda */
    transition: width 0.3s ease; /* Transição suave */
  }

  .anuncios:hover::after {
    width: 100%; /* Largura da barra ao passar o mouse */
  }


  .atualizacoes {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom:  0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 65vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    transition: transform 0.2s ease; /* Adiciona uma transição suave ao movimento */
  }

  .atualizacoes::after {
     content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
    display: block; /* Torna o pseudo-elemento em bloco */
    width: 0; /* Inicialmente, a largura da barra é 0 */
    height: 2px; /* Altura da barra */
    background-color: #fff; /* Cor da barra */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    bottom: -4px; /* Posicionamento abaixo do texto */
    left: 0; /* Alinha à esquerda */
    transition: width 0.3s ease; /* Transição suave */
  }

  .atualizacoes:hover::after {
    width: 100%; /* Largura da barra ao passar o mouse */
  }


  .campeonatos {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom:  0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 90.7vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    transition: transform 0.2s ease; /* Adiciona uma transição suave ao movimento */
  }

  .campeonatos::after {
    content: ''; /* Adiciona um conteúdo ao pseudo-elemento */
    display: block; /* Torna o pseudo-elemento em bloco */
    width: 0; /* Inicialmente, a largura da barra é 0 */
    height: 2px; /* Altura da barra */
    background-color: #fff; /* Cor da barra */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    bottom: -4px; /* Posicionamento abaixo do texto */
    left: 0; /* Alinha à esquerda */
    transition: width 0.3s ease; /* Transição suave */
  }

  .campeonatos:hover::after {
    width: 100%; /* Largura da barra ao passar o mouse */
  }

  .barra {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom: 0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 15.4vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    
  }

  .barra1 {
    font-family:  Calibri, sans-serif;
    position: absolute; /* Define a posição absoluta para o texto */
    bottom:  0.521vw; /* Alinha o texto ao fundo da caixa */
    left: 82vw; /* Alinha o texto à esquerda da caixa */
    color: #fff; /* Cor do texto */
    transition: transform 0.2s ease; /* Adiciona uma transição suave ao movimento */
  }

  .salas-disponiveis {
    height: auto;
    top: -260px;
    margin-top: 60px;
    margin: 300px;
    left: 0 auto;
    right: 0 auto;
    background-color: #000000;
    position: relative;
  }


  .web-stories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .webstories__wrapper {
    background-color: #050505;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    width: 15vw; /* Reduzido o comprimento */
    height: 40vh;
    position: relative;
    overflow: hidden;
    margin: 0 130px; /* Adiciona margem entre os cards */
  }

  .webstories__wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    
  }

  .webstories__wrapper img {
    scale: 0.8;
    width: 200px;
    height: 220px; /* Reduz a altura das imagens */
    object-fit: cover;
  }

  .webstories__text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .webstories__wrapper1 {
    background-color: #050505;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    width: 15vw; /* Reduzido o comprimento */
    height: 40vh;
    position: relative;
    overflow: hidden;
  }

  .webstories__wrapper1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    
  }

  .webstories__wrapper1 img {
    scale: 0.8;
    width: 100%;
    height: 220px; /* Ajuste a altura das imagens conforme necessário */
    object-fit: cover;
  }

  .webstories__text1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .webstories__wrapper2 {
    background-color: #050505;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    width: 15vw; /* Reduzido o comprimento */
    height: 40vh;
    position: relative;
    overflow: hidden;
    margin: 0 130px;
  }

  .webstories__wrapper2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    
  }

  .webstories__wrapper2 img {
    scale: 0.8;
    width: 100%;
    height: 220px; /* Ajuste a altura das imagens conforme necessário */
    object-fit: cover;
  }

  .webstories__text2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: Calibri, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
  }

    /* Estilo personalizado para a classe season-card-body */
    .season-card-body {
      background-color: #f8f9fa; /* Cor de fundo */
      border: 1px solid #dee2e6; /* Borda */
      border-radius: 5px; /* Borda arredondada */
      padding: 15px; /* Espaçamento interno */
    }

    .season-card-body h5 {
      font-size: 1.25rem; /* Tamanho da fonte do título */
      margin-bottom: 10px; /* Espaçamento inferior do título */
    }

    .season-card-body ul {
      list-style-type: none; /* Remover marcadores da lista */
      padding: 0; /* Remover espaçamento interno da lista */
      margin-top: 0; /* Remover espaçamento superior da lista */
    }

    .season-card-body ul li {
      margin-bottom: 5px; /* Espaçamento inferior dos itens da lista */
    }

    .season-card-body ul li strong {
      font-weight: bold; /* Texto em negrito para os rótulos */
      margin-right: 10px; /* Espaçamento à direita dos rótulos */
    }
 

/* Estilo para o cartão */
.card {
  transform: scale(0.6); /* Reduz o tamanho em 20% */
  top: 5px;
  width: 600px; /* Defina a largura desejada */
  height: 400px;
  margin: 0 auto; /* Centralize horizontalmente */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.178);
  margin-bottom: 20px;
  margin-top: 20px;
}

.card__image {
  width: 100%;
  height: 270px; /* Ajuste a altura conforme necessário */
  background-image: url('/img/Gravando_2024-06-01_203542_1.gif'); /* Substitua 'gif_animado.gif' pelo nome do seu arquivo GIF */
  background-size: cover; /* Faz com que o GIF se ajuste ao tamanho da div, mantendo sua proporção */
  position: relative;
  border-radius: 20px;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites da div */
}



.card__image img {
  width: 100%;
  height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção */
  object-fit: cover; /* Faz com que a imagem se ajuste à div mantendo a proporção */
}



/* Estilo para a categoria da imagem */
.card__image__category {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #ff0000; /* Cor da categoria */
  color: #fff; /* Cor do texto */
  font-size: 0.8em;
}

/* Estilo para o ícone de vídeo */
.ico--video {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  color: #fff; /* Cor do ícone */
}

/* Estilo para a parte do texto */
.card__content {
  padding: 20px;
}

/* Estilo para o título do cartão */
.card__content__title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Estilo para a descrição do cartão */
.card__content__description {
  color: #666;
}

/* Estilo para a lista de links relacionados */
.card__content__sublist {
  list-style: none;
  padding: 0;
}

/* Estilo para os itens da lista de links relacionados */
.card__content__sublist__item {
  margin-bottom: 5px;
}

.seasons {
  padding: 40px 0;
  background-color: #f8f9fa;
}

.season-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.season-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.season-card ul {
  list-style-type: none;
  padding: 0;
}

.season-card ul li {
  margin-bottom: 8px;
}

  /* Estilos personalizados */
  .season-card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  .season-card h3 {
    margin-top: 0;
  }
  .season-form {
    margin-bottom: 20px;
  }

  .season-cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .season-cards-row .col-md-4 {
    flex: 0 0 calc(33.3333% - 20px);
    max-width: calc(33.3333% - 20px);
  }
  
  @media (max-width: 768px) {
    .season-cards-row .col-md-4 {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .season-cards-row .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

   
  .card-title {
    font-size: 30px; /* Tamanho da fonte para o título (Temporada) */
    font-weight: bold; /* Negrito para o título */
  }

  .card-text {
    font-size: 24px; /* Tamanho da fonte para o texto (dados da temporada) */
  }

  #nossas-salas,
  #temporadas,
  #anuncios,
  #atualizacoes,
  #campeonatos,
  #sejavip {
    cursor: pointer;
  }


  
    



@media screen and (max-width: 375px) {
    .salas, .temporadas, .anuncios, .atualizacoes, .campeonatos, .barra, .barra1, .sejavip {
        display: none;
    }
    .caixa {
        height: 4.9vh; /* Anteriormente 35px */
    }
    .carousel-indicators {
        top: 12.5vh; /* Anteriormente 54px */
    }
     .webstories__wrapper {
        text-align: center;
        align-items: center;
        width: 60vw; /* Ajustado para largura relativa */
        height: 33.7vh; /* Ajustado para altura relativa */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
    .webstories__wrapper1 {
        left: 75px;
        text-align: center;
        align-items: center;
        width: 60vw; /* Ajustado para largura relativa */
        height: 35vh; /* Ajustado para altura relativa */
        top: 3.13vh; /* Ajustado para posição relativa ao topo */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
    .webstories__wrapper2 {
        text-align: center;
        align-items: center;
        width: 60vw; /* Ajustado para largura relativa */
        height: 35vh; /* Ajustado para altura relativa */
        top: 6.25vh; /* Ajustado para posição relativa ao topo */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
    .card {
      text-align: center;
    }
    .imgstories {
        transform: scale(0.7);
    }
}

    @media screen and (max-width: 390px) {
      .salas, .temporadas, .anuncios, .atualizacoes, .campeonatos, .barra, .barra1, .sejavip {
        display: none;
      }

      .caixa {
        height: 5.1vh;
      }

      .carousel-indicators {
        top: 7vh; /* Anteriormente 54px */
    }

      .webstories__wrapper {
        text-align: center;
        align-items: center;
        width: 60vw; /* Ajustado para largura relativa */
        height: 33.7vh; /* Ajustado para altura relativa */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
      .webstories__wrapper1 {
        left: 82.7px;
        text-align: center;
        align-items: center;
        width: 60vw; /* Ajustado para largura relativa */
        height: 35vh; /* Ajustado para altura relativa */
        top: 3.13vh; /* Ajustado para posição relativa ao topo */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
      .webstories__wrapper2 {
        text-align: center;
        align-items: center;
        width: 60vw; /* Ajustado para largura relativa */
        height: 35vh; /* Ajustado para altura relativa */
        top: 6.25vh; /* Ajustado para posição relativa ao topo */
        margin: 0 auto; /* Centraliza horizontalmente */
    }

      .card {
        text-align: center;
      }
      .imgstories {
          transform: scale(0.7);
      }

    }

    @media screen and (max-width: 700px) {
      .salas, .temporadas, .anuncios, .atualizacoes, .campeonatos, .barra, .barra1, .sejavip {
        display: none;
      }

      .caixa {
        height: 9.6vh;
      }

      .carousel-indicators {
        top: 14vh; /* Anteriormente 54px */
    }

      .webstories__wrapper {
        text-align: center;
        align-items: center;
        width: 40vw; /* Ajustado para largura relativa */
        height: 33.7vh; /* Ajustado para altura relativa */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
      .webstories__wrapper1 {
        left: 130px;
        text-align: center;
        align-items: center;
        width: 40vw; /* Ajustado para largura relativa */
        height: 35vh; /* Ajustado para altura relativa */
        top: 3.13vh; /* Ajustado para posição relativa ao topo */
        margin: 0 auto; /* Centraliza horizontalmente */
    }
      .webstories__wrapper2 {
        text-align: center;
        align-items: center;
        width: 40vw; /* Ajustado para largura relativa */
        height: 35vh; /* Ajustado para altura relativa */
        top: 6.25vh; /* Ajustado para posição relativa ao topo */
        margin: 0 auto; /* Centraliza horizontalmente */
    }

      .card {
          text-align: center;
      }
      .imgstories {
          transform: scale(0.7);
      }
    }






